body{
  background: honeydew;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 35px;
  color: darkorange;
}

.goods{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#your_choice{
  display: block;
  margin: 30px 30px;
}

#choice{
  display: block;
}
.choosen{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.choosen:last-child{
  margin-bottom: 10px;
}

.pro, .pri{
  display: inline;
  font-style: italic;
  color: forestgreen;
  font-weight: bolder;
  text-align: center;
}

#basket{
  height: 35px;
  width: 150px;
  background-color: chartreuse;
  border-color: greenyellow;
}

.Products{
  display: flex;
  flex-wrap: wrap;
}

.Product{
  display: block;
  height: 250px;
  width: 150px;
  margin: 20px 30px;
}

.name{
  justify-content: center;
  display: flex;
  font-size: 20px;
}

.img{
  display: flex;
  height: 200px;
  width: 150px;
}

.bottom {
  display: flex;
}

.price {
  display: flex;
  width: 75px;
  justify-content: center;
}

.buy {
  display: flex;
  width: 70px;
  justify-content:center;
  background: azure;
  border-color: aliceblue;
}
.remove {
  background: tomato;
  border-color: red;
  margin-top: 5px;

}
.imgMini{
  display: flex;
  height: 75px;
  width: 50px;
  align-items: center;
  margin-right: 5px;
}

.miniName{
  display: -ms-inline-flexbox;

}

.miniPrice{
 display: -ms-inline-flexbox;

}